<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstrap的css -->
    <link  href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="/js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="/js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="/js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="/js/fileinput/css/fileinput.min.css" />
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

 <!-- 引入jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="/js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="/js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="/js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/locales/zh.js"></script>
    <script   src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>


    <script type="text/javascript" src="/js/fileinput/themes/fa/theme.js"></script>

</head>
<body>
<!--  条件查询的 form  表单  -->
<form id="pro_from" class="form-inline">
    <div class="form-group">
        <label for="name">名称</label>
        <input type="text" class="form-control"  name="name" id="name"/>
    </div>
    <button type="button" class="btn btn-success" onclick="searchBtn()">搜索</button>
</form>



<button type="button" class="btn btn-success btn-sm" onclick="addTable()">新增</button>
<button type="button" class="btn btn-info btn-sm" onclick="editTable()">修改</button>
<button type="button" class="btn btn-success btn-sm" onclick="delMany()">批量删除</button>


<table id="UserTable"></table>
</body>
<script type="text/javascript">
    $(function(){
        inituserTable();//商品查询展示

    });
    //项目查询展示
    function inituserTable(){
        $("#UserTable").bootstrapTable({
                url:'findRolePage.do',
                //url:'../event/findEvent.do',
                toolbar:'#toolbar',
                pagination:true, //是否展示分页
                pageList:[1,5, 10, 20, 50],//分页组件
                pageNumber:1,
                pageSize:1,//默认每页条数
                //页面修饰
                showRefresh:true,//是否显示刷新按钮
                showToggle:true,//是否显示 切换试图（table/card）按钮
                detailView:true,//设置为 true 可以显示详细页面模式。
                showColumns:true,//是否显示 内容列下拉框
                clickToSelect: true, //是否启用点击选中行
                showPaginationSwitch:true,//是否显示 数据条数选择框
                //解决条查乱码
                method:"post",
                contentType:"application/x-www-form-urlencoded",
                //传递参数,条件查询,分页传参
                queryParams:function(){
                    var name = $("#name").val();//图书名条件查询

                    return{
                        //有分页的固定传值
                        page:this.pageNumber,
                        rows:this.pageSize,
                        //条查传值
                        name:name

                    }
                },
                sidePagination:'server',
                columns:[
                        {field:'id',title:"Id",width:100,
                            formatter:function(value,row,index){   //格式化  当前单元格内容
                                return "<input type='checkbox' value="+value+" name='chk'/>";
                            }
                        },
                        {field:'name',title:'名称'},
                        {field:'username',title:'用户名称'},
                        {field:'createTime',title:'创建时间'},
                        {field:'sex',title:'年龄'},
                        {field:'password',title:'密码'},
                        {field:'imgId',title:'图片',
                        formatter: function (value,row,index){
                            return "<img  width='80' height='80' class='img-thumbnail' src='findImgById.do?imgId="+value+"' />" ;
                        }},
                     {field:'ccc',title:'操作',formatter:function(value,row,index){
                    return '<a href="javascript:update('+row.id+')">修改</a>-<a href="javascript:del('+row.id+')">删除</a>'
                }}
    ]
    })
    }
    function  addTable(){
        dialog("findDialogById.do","saveOrUpdate.do","新增");
    }


    //修改
    function update(id){
        dialog("findDialogById.do?id="+id,"saveOrUpdate.do","修改");

    }


    /*绑定搜索按钮*/
    function searchBtn(){
        $('#UserTable').bootstrapTable('refresh');//更新
    }

    //单个删除
    function del(ids){
        $.ajax({
            url:"delall.do",
            type:"post",
            data:{ids:ids},
            dataType:'json',
            success:function(data){
                alert("删除成功")
                $("#UserTable").bootstrapTable("refresh");
            }
        })
    }



    /*
    *发送ajax请求获取jsp页面内容
    */
    function getJspHtml(urlStr){
        var  jspHtml = "";
//	 async  (默认: true) 默认设置下，所有请求均为异步请求。如果需要发送同步请求，请将此选项设置为 false。
//注意，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行。
        $.ajax({
            url:urlStr,
            type:'post',
            //同步的ajax
            async:false,
            success:function(data){
                //alert(data);//data--addProduct.jsp页面内容
                jspHtml = data;

            },
            error:function(){
                bootbox.alert("ajax失败");
            }
        });
        return jspHtml;
    }

    function  dialog(HTMLurl,submitUrl,title){

        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "save":{
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            url:submitUrl,
                            type:'post',
                            data:$("#userForm").serialize(),
                            success:function(data){
                                bootbox.alert("保存成功");
                                $("#UserTable").bootstrapTable('refresh');
                            },
                            error:function(){
                                bootbox.alert("ajax失败");
                            }
                        });
                    }
                },
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {
                        // return false;  //dialog不关闭
                    }
                }
            }
        });
    }






</script>

</html>